<%= form_for @changeset, @action, @options, fn f -> %>
  <div class="form-group">
    <%= label f, :start_date, class: "control-label" %>
    <%= date_select f, :start_date, class: "form-control" %>
    <%= error_tag f, :start_date %>
  </div>

  <div class="form-group">
    <%= submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>